
  .md-field label {
    left: initial;
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    direction: ltr;
  }

h1,h2,h3,h4,h5,h6,p,span,strong{
    text-align:right;
    float:right;
    color : #364FB3 !important;
}
.ql-editor{
	margin:0;
	padding:0;
	border-width:0;
  text-align:right;
}
.ql-editor h1,.ql-editor h2,.ql-editor h3,.ql-editor h4,.ql-editor h5,.ql-editor h6{
	color:#364FB3 !important;
}

#quill-container h5,#quill-container h3,#quill-container h2,#quill-container h4,#quill-container h6{
  	color:#364FB3 !important;
}

.ql-editor{
	-webkit-writing-mode:vertical-rl;
	-epub-hyphens:auto;
}
.ql-editor a._idGenColorInherit {
	color:inherit;
}
.ql-editor div.Basic-Graphics-Frame, img.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
.ql-editor div.Basic-Text-Frame {
	border-style:solid;
}

.ql-editor p.Basic-Paragraph {
	color:#000000;
	/* font-family:"Adobe Arabic", serif; */
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
.ql-editor p.matn {
	color: #000000;
    /* font-family: "B Mitra", sans-serif; */
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.158;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 7px;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-align-last: right;
    text-decoration: none;
    text-transform: none;
    widows: 1;
}
.ql-editor p.pavaraghi {
	color:#6d6e71;
	/* font-family:"Times New Roman", serif; */
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.133;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
.ql-editor p.titr-2 {
	color:#364FB3;
	/* font-family:"B Jalal", sans-serif; */
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:0;
	margin-right:11px;
	margin-top:3px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
.ql-editor p.titr-3- {
	color:#364FB3;
	/* font-family:"B Jalal", sans-serif; */
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:3px;
	margin-left:0;
	margin-right:11px;
	margin-top:7px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-align-last:right;
	text-decoration:none;
	text-indent:-9px;
	text-transform:none;
	widows:1;
}
.ql-editor p.titr1 {
	color:#364FB3;
	/* font-family:"B Yagut", sans-serif; */
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:3px;
	text-transform:none;
	widows:1;
}
.ql-editor span.matn-latin {
	color:#000000;
	/* font-family:"Times New Roman", serif; */
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
.ql-editor span.pavaraghi {
	color:#364FB3;
	/* font-family:"Times New Roman", serif; */
	font-size:8px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}
.ql-editor span._idGenBNMarker{
	display:inline-block;
	/* font-family:"Times New Roman", serif; */
	font-style:normal;
	font-weight:bold;
	text-indent:0;
	width:9px;
}


.ql-editor span[class^="_idGenBNMarker"] {
  display:inline-block;
	/* font-family:"Times New Roman", serif; */
	font-style:normal;
	font-weight:bold;
	text-indent:0;
	width:9px;
}

.ql-editor p[class^="ParaOverride"]{
	text-indent:0px;

}


.ql-editor > span[class^="CharOverride"]{
	text-indent:0px;
	font-weight:bold;
	float : right !important;
}

/* must be merged like above */

.ql-editor > span[class^="_idGenBNMarker"]{
	display:inline-block;
	/* font-family:"Times New Roman", serif; */
	font-style:normal;
	font-weight:bold;
	text-indent:0;
	width:9px;
}



.ql-editor div._idGenStoryDirection-1 {
	-webkit-writing-mode:horizontal-tb;
}

table.Basic-Table{
    width:100%;
    overflow-y:hidden;
    overflow-x:auto;
    background-color:black !important;
    color:red !important;
}
.ql-editor table.Basic-Table + tbody{
    background-color:black;
    width:max-content;
    height:auto;
}
.ql-editor table.Basic-Table tr{
    background-color:red !important;
}
.ql-editor table.Basic-Table tr:first-child{
    background-color:#ff0033 !important;
}

.ql-editor table tbody tr td p{
    display:inline-block !important;
    float:right !important;
    text-align:right !important;
    clear:both !important;
}

